@model TodoViewModel
@using Humanizer

@{
    ViewData["Title"] = "Manage your todo list";
}

<div class="container">
    <div class="row no-gutters">
        <div class="col-lg-7">
            <div><h2>@ViewData["Title"]</h2></div>

            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">&#x2714;</th>
                        <th class="w-75" scope="col">Item</th>
                        <th scope="col">Due</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                        <tr>
                            <td>
                                <form asp-action="MarkDone" method="post">
                                    <input type="checkbox" class="done-checkbox">
                                    <input type="hidden" name="id" value="@item.Id">
                                </form>
                            </td>
                            <td>@item.Title</td>
                            <td>@item.DueAt.Humanize()</td>
                        </tr>
                    }
                </tbody>
            </table>

            @await Html.PartialAsync("AddItemPartial", new TodoItem())



        </div>

        <div class="col-lg-4 offset-lg-1">
            <div><h2>Done items list</h2></div>

            <table class="table">
                <thead class="thead-light">
                    <tr>
                        @*<td>&#x2714;</td>*@
                        <th class="col" scope="col">Item</th>
                        <th class="col-1" scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.MarkedDoneItems)
                    {
                        <tr>
                            @*<td>
                                    <form asp-action="MarkDone" method="post">
                                        <input type="checkbox" class="done-checkbox">
                                        <input type="hidden" name="id" value="@item.Id">
                                    </form>
                                </td>*@
                            <td><s>@item.Title</s></td>
                            <td>
                                <form method="post" asp-action="DeleteItem" asp-route-id="@item.Id">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </td>
                            @*<td>@item.DueAt.Humanize()</td>*@
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
